/* I would like it if I could lay out a general
theme by styling different elements,
such that when they are added to the webpage
they will be styled appropriately already,
for the most part. */

/* DEFAULT FOR ALL CONTENT */
*{
margin: 0;
padding: 0;
list-style: none;
text-decoration: none;
font-family: Verdana, Helvetica, Arial;
text-align: center;

}

/* HYPERLINKS */

a {
    color: rgb(54, 67, 80);
    font-weight: bold;
}

a:visited {
    color: rgb(54, 67, 80);
  }

/* HEADINGS */
h1,h2,h3,h4,h5,h6 {
    text-align: center;
    justify-content: center;
}
/* TITLE */
.title {
    width:100%;
    height:auto;
    display: grid;
    grid-template-columns: auto 350px auto;
}

.title-left {
    content:"";
    background-color:rgb(54, 67, 80);
    height:50%;
    top:0;
    transform:translateY(50%);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.title-right {
    content:"";
    background-color:rgb(54, 67, 80);
    height:50%;
    top:0;
    transform:translateY(50%);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.title-text {
background-color:rgb(86, 107, 128);
font-size: 60px;
font-weight: bold;
display: inline-block;
text-align: center;
color:rgb(204, 226, 248);

}
/* 
.title::before, .title::after  {
content: "";
height: 50%;
position:absolute;
}

.title::before {
    background-color:rgb(54, 67, 80);
    z-index: +1;
    left:0;
    width:40%;
}

.title::after{
    width:50vw;
    height: 4s0px;
    background-color:rgb(54, 67, 80);
    top: 25%;
    z-index: +1;
} */

/* BODY */
body {
    background-color: rgb(86, 107, 128);
    color:rgb(54, 67, 80);
    text-align: center;
    justify-content: center;
}

/* NAVIGATION BAR */
nav {
    position: sticky;
    top:0;
    z-index:+5;
    padding:5px;
    background-color:rgb(54, 67, 80);

    }

.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color:rgb(54, 67, 80);
    background-color:rgb(54, 67, 80);
    background-color:rgb(54, 67, 80);
    background-color:rgb(54, 67, 80);
    justify-content: center;
}

.navbar li {
    flex:auto;
    max-width: 170px;
    margin:5px;
    font-size: 25px;
    color:rgb(54, 67, 80);
    align-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-image: radial-gradient(rgb(204, 226, 248),rgb(110, 132, 154));
    width:fit-content;
    height:fit-content;
    border-style: solid;
    border-color: rgb(204, 226, 248);
    border-radius: 20px;
}

.navbar *:hover {
color:rgb(204, 226, 248);
-webkit-transform: scale(1.1); 
}

/* RESPONSIVE FOR SMALL SCREEN */
@media only screen and (max-width: 400px) {
    .title {
    font-size:45px;
    }
    .navbar li {
        display:none;
    }
    /* NEED TO ADD DROP-DOWN
    LIST ?WITH PSUEDO ELEMENTS */
  }

/* IMAGES */
.top-images {
    padding:10px;
    margin:10px;
    display:inline-grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
}

#image2 {
    border-radius: 20px;
    justify-content: center;
    width:100%;
    top:0;
    transform:translateY(25%);
    border-spacing: 20px;
}

#image1 {
    border-radius: 20px;
    justify-content: center;
    width:100%;
}
#image3 {
    border-radius: 20px;
    justify-content: center;
    width:100%;
    top:0;
    transform:translateY(25%);
}

/* IMAGE HOVER EFFECTS */

.top-images *:hover {
    -webkit-filter: brightness(70%);
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    transition: all 300ms ease;
}

/* HOME PAGE GRID */
.home-container {
    background-color:rgb(54, 67, 80);
    margin: 20px;
    padding: 10px;
   }

.homegrid {
    display: grid;
    justify-content: center;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.homegrid>div {
    display: flex;
    flex-direction: column;
    /* margin: 10px; */
    padding:5px;
    background-image: radial-gradient(rgb(204, 226, 248),rgb(110, 132, 154));
    border-style: solid;
    border-color: rgb(204, 226, 248);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}
.homegrid * {
    padding: 5px;
}
.grid1 {
    grid-column-start: 1;
    grid-column-end: 7;
}
.grid2 {
    grid-column-start: 1;
    grid-column-end: 3;
}
.grid3 {
    grid-column-start: 3;
    grid-column-end: 5;
}
.grid4 {
    grid-column-start: 5;
    grid-column-end: 7;
}
.grid5 {
    grid-column-start: 1;
    grid-column-end: 4;
}
.grid6 {
    grid-column-start: 4;
    grid-column-end: 7;
}
/* RESPONSIVE TO SCREEN SIZE */