/* I would like it if I could lay out a general
theme by styling different elements,
such that when they are added to the webpage
they will be styled appropriately already,
for the most part. */

/* SETTING COLOR SCHEME */

:root {
    --lightgrey: rgb(86, 107, 128);
    --darkgrey: rgb(54, 67, 80);
    --offwhite: rgb(204, 226, 248);
    --orange: rgb(218, 98, 0);
    --orange2: rgb(255, 126, 21);
}


/* DEFAULT FOR ALL CONTENT */
* {
margin: 0;
padding: 0;
list-style: none;
text-decoration: none;
font-family: Verdana, Helvetica, Arial;
text-align: center;

}

/* HYPERLINKS */

a {
    color: rgb(54, 67, 80);
    font-weight: bold;
}

a:visited {
    /* color: rgb(54, 67, 80); */
  }

/* HEADINGS */
h1,h2,h3,h4,h5,h6 {
    text-align: center;
    justify-content: center;
}

h1 {
    color:rgb(204, 226, 248);
    font-size: 50px;
    margin:10px;
}

/* TITLE */
.title {
    width:100%;
    height:auto;
    display: grid;
    grid-template-columns: auto 350px auto;
}

.title-left {
    content:"";
    background-color: var(--orange);
    height:50%;
    top:0;
    transform:translateY(50%);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.title-right {
    content:"";
    background-color: var(--orange);
    height:50%;
    top:0;
    transform:translateY(50%);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.title-text {
background-color:rgb(86, 107, 128);
font-size: 60px;
font-weight: bold;
display: inline-block;
text-align: center;
color:rgb(204, 226, 248);
}

/* BODY */
body {
    background-color: rgb(86, 107, 128);
    color:rgb(54, 67, 80);
    text-align: center;
    justify-content: center;
}

/* NAVIGATION BAR */
@media only screen and (min-width: 400px) {

    nav {
        position: sticky;
        top:0;
        z-index:+5;
        padding:5px;
        background-color:rgb(54, 67, 80);
        }

    .navbar {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        color:rgb(54, 67, 80);
        background-color:rgb(54, 67, 80);
        background-color:rgb(54, 67, 80);
        background-color:rgb(54, 67, 80);
        justify-content: center;
    }

    .navbar li {
        flex:auto;
        max-width: 170px;
        margin:5px;
        font-size: 25px;
        color:rgb(54, 67, 80);
        align-content: center;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
        background-image: radial-gradient(rgb(204, 226, 248),rgb(110, 132, 154));
        width:fit-content;
        height:fit-content;
        border-style: solid;
        border-color: rgb(204, 226, 248);
        border-radius: 20px;
    }

    .navbar *:hover {
    color:rgb(204, 226, 248);
    -webkit-transform: scale(1.1); 
    }

}

/* IMAGES */
.top-images {
    padding:10px;
    margin:10px;
    display:inline-grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
}

#image2 {
    border-radius: 20px;
    justify-content: center;
    width:100%;
    top:0;
    transform:translateY(25%);
    border-spacing: 20px;
}

#image1 {
    border-radius: 20px;
    justify-content: center;
    width:100%;
}
#image3 {
    border-radius: 20px;
    justify-content: center;
    width:100%;
    top:0;
    transform:translateY(25%);
}

/* IMAGE HOVER EFFECTS */

.top-images *:hover {
    -webkit-filter: brightness(70%);
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    transition: all 300ms ease;
}

/* REVIEW GRID */

.home-container {
    background-color:var(--darkgrey);
    margin: 20px;
    padding: 10px;
   }

.homegrid {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.homegrid>div {
    display: flex;
    flex-direction: column;
    /* margin: 10px; */
    padding:5px;
    background-image: radial-gradient(var(--offwhite),var(--lightgrey));
    border-style: solid;
    border-color: rgb(204, 226, 248);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}
.homegrid * {
    padding: 5px;
}
.grid1 {
    grid-column-start: 1;
    grid-column-end: 7;
}
.grid2 {
    grid-column-start: 1;
    grid-column-end: 3;
}
.grid3 {
    grid-column-start: 3;
    grid-column-end: 5;
}
.grid4 {
    grid-column-start: 5;
    grid-column-end: 7;
}
.grid5 {
    grid-column-start: 1;
    grid-column-end: 4;
}
.grid6 {
    grid-column-start: 4;
    grid-column-end: 7;
}

/* TEST PAGE */

.test-inputs {
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-self: center;
    border-style: solid;
    border-width: 3px;
    width:max-content;
    text-align: left;
    padding: 15px;
    row-gap: 15px;
}


label {
    font-weight: bold;
}

.product-container {
    background-color:rgb(54, 67, 80);
    margin: auto;
    padding: 30px;
    max-width: 1000px;
    justify-content: center;
    align-content: center;
    align-self: center;
}

.product-grid {
    color:rgb(204, 226, 248);
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:30px;
    justify-content: center;
    align-content: center;
}

.product-col-left {
    display:grid;
    gap:15px;
    text-align:right ;
    justify-content: center;
    align-content: center;
    justify-self: right;

  }
  .product-col-left>h3 {
    text-align: right;
    color: var(--orange);
    text-decoration: underline;
  }

  .product-col-left>h3:hover {
    -webkit-transform: scale(1.2);
    transform-origin: right;
    color:rgb(255, 126, 21);
    transition: all 300ms ease;
  }


  .product-col-right {
    display:grid;
    gap:15px;
    text-align:left;
    justify-content: center;
    align-content: center;
    justify-self: left;
  }

  .product-col-right>h3 {
    text-align: left;
    color:rgb(218, 98, 0);
    text-decoration: underline;
 }
 
 .product-col-right>h3:hover {
    -webkit-transform: scale(1.2);
    transform-origin: left;
    color:rgb(255, 126, 21);
    transition: all 300ms ease;
 }

 .product-grid>img:hover {
    -webkit-filter: brightness(70%);
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    transition: all 300ms ease;
 }

 .content-box {
    background-color:rgb(54, 67, 80);
    margin: auto;
    margin-top: 30px;
    padding: 30px;
    max-width: 1000px;
    justify-content: center;
    align-content: center;
    color: rgb(204, 226, 248);
}

.nav-toggle {
    display: none;
}


/* RESPONSIVE FOR SMALL SCREEN */

@media only screen and (max-width: 400px) {
    
    header {
        color: var(--offwhite);
        text-align: center;
        z-index: 999;
        width: 100%;
    }
    h1 {
        font-size: 35px;
    }
    
    .title {
        pointer-events: none;
        display: flex;
        flex-direction: column;
        align-self: center;
    }
    .title-text {
        pointer-events: none;
        font-size: 45px;
        margin-left: 50px;
    }
    .title-left, .title-right {
        pointer-events: none;
        background-color: var(--lightgrey);
        display:none;
    }

    nav {
        display:none;
        color: var(--offwhite);
        top: 0;
        text-align: left;
        left: 0;
        background-color: var(--darkgrey);
    }

    nav ul {
        color: var(--offwhite);
        text-align: left;
        margin: 0;
        list-style: none;
        justify-content: none;
    }
    nav li {
        color: var(--offwhite);
        text-align: left;
        align-content: none;
        padding: 10px;
        border:none;
        line-height: 15px;
    }
    nav a {
        color: var(--offwhite);
        text-decoration: none;
        font-size: 1.2rem;
        text-transform: uppercase;
    }
    nav a:hover {
        color: var(--orange);
    }
    .nav-toggle {
        display: none;
    }
    .nav-toggle-label {
        position:fixed;
        top: 30px;
        left: 0;
        margin-left: 10px;
    }
    .nav-toggle-label span,
    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
        display: block;
        background: var(--orange);
        height: 3px;
        width: 1.7em;
        border-radius: 2px;
        position: relative;
        z-index: 1;
    }


    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
        content: "";
        position: absolute;
    }

    .nav-toggle-label span::before {
        bottom: 7px;
    }
    .nav-toggle-label span::after {
        top: 7px;
    }


    .nav-toggle:checked ~ nav {
        display: block;
    }

    .top-images {
        display:flex;
        flex-direction: column;
     }

    #image1, #image2, #image3 {
        position: relative;
        margin: auto;
        transform: none;
        padding: 10px;
    }

}



    /* NEED TO ADD DROP-DOWN
    LIST ?WITH PSUEDO ELEMENTS */

    *, *::before, *::after {
        box-sizing: border-box
    }